.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureImage {
  max-width: 100%;
  height: auto;
}

.centerRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoStyling {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%; /* The video will take up 100% of its parent's width */
  height: auto; /* The height will be automatically adjusted to maintain aspect ratio */
  max-width: 640px; /* Optional: To limit the maximum width of the video */
}

.lexend-font {
  font-family: 'Lexend', sans-serif;
}

.displayText {
  font-size: 24px;
}

.addMarginTop {
  margin-top: 0;
  
  @media (max-width: 1140px) {
    margin-top: 20px;
  }
}


.addMarginLeft {
  margin-left: 0;

  @media (min-width: 1141px) {
    margin-left: 30px;
  }
}

.imageWrapper {
  max-width: 350px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.centerFeatures {
  display: flex;
  justify-content: center;
}


@media (max-width: 1140px) {
  .centerRow {
    flex-direction: column;
  }
  iframe {
    width: 800px;  
    height: 500px;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 16 / 9;
  }
}