/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Add space between logo and buttons */
.logo {
  margin-bottom: 20px; /* Adjust the margin value as needed */
}

/* Add margin to the second button */
.buttons a:nth-child(2) {
  margin-left: 10px; /* Adjust the margin value as needed */
}

